<!DOCTYPE html>
<html>

<head>
    <title>Budget Buddy</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ae353f9b79.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="bg-indigo-950 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/home" class="text-2xl font-bold">Budget Buddy</a>
            <div>
                <a href="/home" class="mx-2 hover:underline hover:font-semibold">Home</a>
                <a href="/add" class="mx-2 hover:underline hover:font-semibold">Add Expense</a>
                <a href="/analysis" class="mx-2 hover:underline hover:font-semibold">Analysis</a>
                <a href="/savings" class="mx-2 hover:underline hover:font-semibold">Savings</a>
                <a href="/logout" class="mx-2 hover:underline hover:font-semibold">Log Out</a>
            </div>
        </div>
    </nav>
    <div class="bg-gray-200 min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-1/3 mr-56">
            <h1 class="text-3xl font-bold text-center mb-8 text-indigo-800">Edit Expense</h1>
            <form action="/edit/<%= expense._id %>" method="POST">
                <div class="mb-4">
                    <label for="amount" class="block text-gray-700 font-semibold">Amount:</label>
                    <input type="number" id="amount" name="amount" required value="<%= expense.amount %>"
                        class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600">
                </div>
                <div class="mb-4">
                    <label for="description" class="block text-gray-700 font-semibold">Description:</label>
                    <input type="text" id="description" name="description" required value="<%= expense.description %>"
                        class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600">
                </div>
                <div class="mb-4">
                    <label for="category" class="block text-gray-700 font-semibold">Category:</label>
                    <select id="category" name="category"
                        class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <option value="Food" <%=expense.category==='Food' ? 'selected' : '' %>>Food</option>
                        <option value="Transportation" <%=expense.category==='Transportation' ? 'selected' : '' %>
                            >Transportation</option>
                        <option value="Essential" <%=expense.category==='Essential' ? 'selected' : '' %>>Essential
                        </option>
                        <option value="Entertainment" <%=expense.category==='Entertainment' ? 'selected' : '' %>
                            >Entertainment</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="date" class="block text-gray-700 font-semibold">Date:</label>
                    <input type="date" id="date" name="date" required
                        value="<%= expense.date.toISOString().split('T')[0] %>"
                        class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600">
                </div>
                <div class="text-center">
                    <button type="submit"
                        class="bg-indigo-800 mt-3 text-white px-6 py-2 rounded-lg font-semibold hover:bg-indigo-900 transition duration-300">
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
        <img src="/images/edit.png" alt="image" class="w-88 h-96 mr-8">
    </div>
</body>

</html>